.app {
  min-width: 320px;
  margin: 20px;
}

.title {
  position: relative;
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.title h2 {
  font-size: 1.2rem;
}

.title::after {
  position: absolute;
  top: 95%;
  left: 0;
  display: inline-block;
  width: 105%;
  height: 2px;
  content: '';
  background: rgba(var(--primary-rgb), 1);
  background: linear-gradient(to right, var(--primary), rgba(var(--primary-rgb), 0.5));
}

section {
  margin-bottom: 2.2rem;
}

section:first-of-type {
  margin-top: 110px;
}

.realisation-list,
.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.realisation-list {
  gap: 30px;
}

@media screen and (min-width: 600px) {
  .realisation-list,
  .skill-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;
  }
  .realisation-list {
    align-items: flex-start;
  }

  section:first-of-type {
    margin-top: 150px;
  }
}

@media screen and (min-width: 900px) {
  .root {
    max-width: 900px;
    margin: auto;
  }
}
